@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

:root {
  --color-primary: #DFA7A0;
  --color-secondary: #EFE8E3;
  --color-accent: #D43742;
  --color-text: #3F3F3F;
  --color-neutral: #A7938C;
  --color-background: #F6F6F6;
}
